<div class="card">
  <div class="card-img">
    <img class="card-img-src" src="{{card.src}}"/>
  </div>
  <div class="card-info">
      <p class="card-title">{{card.name}}</p>
      <div class="card-info-price">
        <p class="price-title">Цена</p>
        <p class="price-title-price" style="color: #dfb729">{{card.price}}</p>
      </div>
      <div class="all-btn">
        <button  class="card-info-btn" (click)="addToCart(card)" *ngIf = "!card.buy">КУПИТЬ</button>
        <button class="card-info-btn" *ngIf = "!card.buy" routerLink="/card/{{card.id}}">ПОДРОБНЕЙ</button>
    </div>

  </div>
