<div class="header">
    <div class="header-logo">
      <p>МилыйДом</p>
    </div>
    <div class="search-card">
      <input type="text" placeholder="Поиск" [(ngModel)]="search" (keyup.enter)="onSearch()">
    </div>
    <nav>

      <div class="topnav" id="myTopnav">
        <a routerLink ="/home">Домой</a>
        <a href="#">О Нас</a>
        <a href="#">Каталог</a>
        <a href="#">Контакты</a>
        <a
            routerLink ="/cart"
            class="icon-cart"
            id="menu-basket"

          >
        </a>
        <button type="button" (click)="changeUserStatus()" class="login">{{userLoggedIn?"Logdut":"Login"}}</button>
      </div>

    </nav>
</div>
