.header {
  display: flex;
  justify-content: space-between;
  margin: 0px 17%;
}
.header-logo {
  font-size: 18px;
  color: #dfb729;
  font-weight: 600;
}
.icon-cart{
  float: right;
  background-image: url(./img/shopping-venture.jpg);
  width: 25px;
  height: 26px;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
a {
  text-decoration: none;
  margin-right: 10px;
}
li {
  list-style: none;
}
#myTopnav{
  margin: 4% 0;
}
#myTopnav a {
  color: #363636;
}

.serch-card input{
  width: 100%;
  height: 30px;
  border-radius: 40px;
  background: #fff;
  border-color: rgba(244, 205, 96, 0.603);
  transition: all 0.3s ease;
  margin: 10px;
}
.login{
  width: 14%;
  height: 30px;
  border-radius: 40px;
  background: #dfb82967;
  color: #fff;
  border-color: rgba(244, 205, 96, 0.336);
  margin: 2px;
}
