<div class="popup-bg" id="popup-block">
  <div class="popup">
    <div class="popup-top">
      <h3>Корзина</h3>
      <span
        routerLink ="/home"
        (click)= "popupClose()"
        id="popup-close"
        style="cursor: pointer"
        >&#9746;</span
      >
    </div>
    <div *ngIf="card.length else emptyTemplate" class="popup-list">
      <ul class="popup-list-name">
        <app-card *ngFor = "let item of card" [card]= "item" ></app-card>

      </ul>
  </div>

    <button class="popup-list-btn">Купить</button>
  </div>
</div>
<ng-template #emptyTemplate><p class="emptyTitle">Здесь пока ничего нет...</p></ng-template>
