*{
    margin: 0;
  }
  .card-details{
    position: fixed;
    top: 15%;
    left: 30%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(167, 167, 167, 0.5);
    width: 30%;
    height: 30%;
    padding: 5%;
  }
  .card-details-name{
    margin-top: 20%;
    font-size: 30px;
    color: rgb(255, 217, 0);
  }
  .detail{
    margin-top: 2%;
    font-size: 25px;
    color: rgb(77, 77, 77);
  }
  h1{
    color: rgb(21, 63, 39);
    letter-spacing: 2px;
  }
  .details-part{
    display: flex;
    flex-direction: column;
  }

  .detail-close{
    color: #fff;
  text-decoration: none;
  user-select: none;
  background: rgba(212, 74, 56, 0.479);
  padding: .7em 1.5em;
  margin-top: 80%;
  }
  @media (max-width: 800px){
    .card-details{
      position: fixed;
      top: 10%;
      left: 5%;
      width: 80%;
      height: 60%;
      padding: 5%;
    }
  }
