.found{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
p{
  text-align: center;
  margin-top: 20%;
  font-size: 30px;
  color: rgb(255, 217, 0);
}
