.cards {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  margin: 2% 8%;
  padding: 0;
}
h1{
  color: #dfb729;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}
@media (max-width: 800px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
}
